.Main_contant_Top
{
   
    
}
.Contect_section
{
    background-color: #80808017;
}
.Cotant_span
{
    font-weight: 100;
}
.Main_contant_Top .form-group
{
    margin-bottom: 2rem;
}
.contact_Float 
{
    float: left;
}
.Cotant_Section_padding
{
    border-right: 1px solid  #00000012;
    padding-top: 6rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.Cotant_Section2_padding
{
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}
.Awsme_font
{
    font-size: 29px;
}
/* .Space_Hover .contact_Float :hover{
    position: relative !important;
    top: -6px !important;
} */
.box_Container
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    position: relative;
    top: 15rem;
}
.Span_spacing
{
    padding-right: 2rem;
}
/* .lol  :focus{
    position: relative;
    top:-4px;
}
.lol  :hover{
    position: relative;
    top:-4px;
} */

.Content_root
{
    display:table;
    
}
.font_size_Contect
{
    font-size: 1rem;
    font-weight: bold;
}
.Cotant_Section_padding .form-control:focus {
    color: none;
    background-color: none;
    border-color:#495057;
    outline: 0;
    box-shadow: none;
}
.far_color
{
    color: #0D1F47;
    padding-left: 6px;
}
.Cotant_Section_padding  .btn-primary {
    color: #fff;
    background-color: #0D1F47;
     border-color:#0D1F47;
     padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3rem;
}
.Cotant_Section_padding  .btn-primary:not(:disabled):not(.disabled).active:focus, .Cotant_Section_padding  .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.Cotant_Section_padding .btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}

.Cotant_Section_padding .btn-primary:not(:disabled):not(.disabled).active, .Cotant_Section_padding .btn-primary:not(:disabled):not(.disabled):active, .show> .Cotant_Section_padding .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0D1F47;
     border-color:#0D1F47;
}
.Cotant_Section_padding .btn-primary.focus, .Cotant_Section_padding .btn-primary:focus {
    box-shadow: none;
}
.Content_root p
{
    color:gray;
}


@media only screen and  (min-width:0px) and (max-width:1223px)
{
    .Cotant_Section2_padding
{

    padding-left: 0;
    padding-right: 0;
    text-align: center

}
.contact_Float {
    float: none;
}
.Span_spacing {
    padding-right: 0rem;
}
.Content_root {
    display: block;
}
}
@media only screen and  (min-width:0px) and (max-width:500px)
{
.Cotant_Section_padding
{

    padding-left: 0;
    padding-right: 0;
    border-right: none;
}
}
@media only screen and  (min-width:0px) and (max-width:992px)
{.Cotant_Section_padding
    {
    
        border-right: none;
    }
}