.gridimage{
    position: relative;
    padding: 0;
}
.image{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .gridimage:hover .image {
    /* opacity: 0.3; */
    filter: grayscale(0.5) brightness(50%)
  }
  
  .gridimage:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .image:hover
{

-webkit-transform: translate3d(0, -5px, 0);
-moz-transform: translate3d(0, -5px, 0);
-ms-transform: translate3d(0, -50px, 0);
-o-transform: translate3d(0, -5px, 0);
transform: translate3d(0, -5px, 0);
transition: all 0.4s;

}